


<h1>Team Name: <%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>

<h1>Superheroes:</h1>
<% @members.each do |member| %>
  <h1>Hero Name: <%= member.name %></h1>
  <p>Power: <%= member.power %></p>
  <p>Bio: <%= member.bio %></p>
<% end %>
